<div class="code-bk">
  <div id="mainBody" class="main-body" (scroll)="onScroll($event)">

    <section class="home">
      <div class="my-details">
        <div class="tech">
          Full-Stack Web Developer
        </div>
        <div class="name"> Hello, I'm</div>
        <div class="name"> Manu Baby</div>
        <div class="quote">"First, solve the problem. Then, write the code."</div>
      </div>
      <div class="glass-circle">
        <div class="angular glass-bk">
          <img src="../assets/angular.png">
        </div>
        <div class="java glass-bk">
          <img src="../assets/java_1.png">
        </div>
        <div class="spring glass-bk">
          <img src="../assets/spring.png">
        </div>
        <div class="android glass-bk">
          <img src="../assets/android.png">
        </div>
        <div class="firebase glass-bk">
          <img src="../assets/firebase.png">
        </div>
        <div class="flutter glass-bk">
          <img src="../assets/flutter.png">
        </div>
      </div>
    </section>
    <section class="tow">
      <div class="project">
        <div class="info-box">
          <div class="info">
            <div class="name">Medvand</div>
            <div id="medvand" class="desc">
              
            </div>
          </div>
        </div>
        
        <div class="screenshot">
          
          <div>
            <img src="../assets/medvand.png" >
          </div>
        </div>
      </div>
    </section>
    
    <section class="four">
      <div class="project">
        <div class="screenshot">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/edulearn.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/edulearn_1.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/edulearn_2.png" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="info-box">
          <div class="info">
            <div class="name">Edulearn</div>
            <div id="edulearn" class="desc">
              
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="tow">
      <div class="project">
        <div class="info-box">
          <div class="info">
            <div class="name">Auxileo Lab</div>
            <div id="auxileo" class="desc">
              
            </div>
          </div>
        </div>
        
        <div class="screenshot">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../assets/auxileo.png" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../assets/auxileo_1.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../assets/auxileo_2.png" alt="Third slide">
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>

    <section class="four">
      <div class="project">
        <div class="screenshot">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="../assets/shopping_1.png" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/shopping_2.png" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/shopping_3.png" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="../assets/shopping_4.png" alt="Third slide">
              </div>
            </div>
          </div>
        </div>
        <div class="info-box">
          <div class="info">
            <div class="name">Shopping Site</div>
            <div id="shopping" class="desc">
              
            </div>
          </div>
        </div>
      </div>
    </section>
    
    </div>
</div>
